{% extends "base.html" %}

{% block title %}Home - TRIPLE T's Trucking Rewards{% endblock %}

{% block content %}
<div class="homepage">
  <h1>Welcome to <span class="accent-text">TRIPLE T's Trucking Rewards</span></h1>
  <p class="tagline">Recognizing hard work. Rewarding excellence.</p>

  <p class="lead">Log in to access your account and start earning your rewards today.</p>
  <a href="{{ url_for('auth.login') }}" class="btn btn-primary">Login</a>

    <p class="text-sm text-gray-400">
      Don't have an account yet? 
      <a href="{{ url_for('auth.signup_page')}}" id="signup-link" class="text-green-400 hover:text-green-300 font-semibold transition duration-200">Sign up</a>
    </p>

  <hr class="divider">

  <p class="lead">New to Triple T’s? Learn more about how we reward our drivers and partners.</p>
  <a href="{{ url_for('about_bp.view_about') }}" class="btn btn-outline">Read Our About Page</a>
</div>
{% endblock %}
